* {
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: aliceblue;
}

fieldset {
    width: 500px;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 5px;
}

fieldset input {
    width: 90%;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #00ffff;
    border: none;
    text-align: right;
}

form {
    width: 90%;
    border: 1px solid #ccc;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "clear clear backspace backspace";
    grid-gap: 10px;
}

#keyLetterC {
    grid-area: clear;
}

#keyDel {
    grid-area: backspace;
}

#comma {
    font-size: 16px;
    font-weight: bold;
    color: #183153;
}